#layout {
  width: 1280px;
  height: 720px;
  background: url(img/bg-darkgreen.jpg) no-repeat;
  color: #dedede;

  position: absolute;
  top: 0;
  left: 0;
}

.panel {


  position: absolute;
  overflow: hidden;
  box-shadow:   0 0 9px #fff;
}

#camera {
  width: 250px;
  height: 140px;
  right: 10px;
  top: 10px;
}

#banners {
  right: 10px;
  top: 160px;
  width: 250px;
  height: 150px;
}

#chat {
  width: 250px;
  height: 340px;
  right: 10px;
  bottom: 60px;
}

#display {
  top: 10px;
  left: 10px;
  width: 1000px;
  height: 650px;
}

#footer {
  bottom: 10px;
  left: 10px;
  width: 1260px;
  height: 40px;
}

/*
1280-30-250-2
720-15-140-17-250-15-2
*/
