#layout {
  width: 1280px;
  height: 720px;
  background: url(img/bg-darkgreen.jpg) no-repeat;
  color: #dedede;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .08em;
  font-family: "Roboto Slab", Arial, Tahoma, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}

.panel {
  position: absolute;
  overflow: hidden;
  box-shadow:   0 0 9px #fff;
}

#camera {
  width: 350px;
  height: 200px;
  right: 10px;
  top: 10px;
}

#banners {
  right: 10px;
  top: 220px;
  width: 350px;
  height: 150px;
}

#chat {
  width: 350px;
  height: 280px;
  right: 10px;
  bottom: 60px;
}

#display {
  top: 10px;
  left: 10px;
  width: 900px;
  height: 650px;
}

#footer {
  bottom: 10px;
  left: 10px;
  width: 1260px;
  height: 40px;
  background: #093F0F;
  text-shadow: 2px 2px 0 #59320D;
  font-weight: bold;
}

#social, #clock {
  position: absolute;
  height: 40px;
  display:flex;
  align-items:center;
}

#clock {
  left: 910px;
  width: 350px;
}

#social img {
  vertical-align: middle;
  margin: 0 5px 0 20px;
  height: 30px;
}

#social img:first-of-type {
  margin-left: 5px;
}

.icon {
  background: url(img/social.png);
  width: 32px;
  height: 32px;
}

#fb {
  background-position: 0px 0px;
}
/*
1280-30-250-2
720-15-140-17-250-15-2
*/
